.control-button {
  height: 25px;
  border: none;
  outline: none;
  border-radius: 22px;
  box-sizing: border-box;
  outline: none;
  cursor: pointer;
  border: none;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);

  &__wrapper {
    padding: 0 19px;
  }

  &__text {
    color: white;
  }

  &:active, &:focus, &:hover {
    box-shadow: 0 0 15px #bc9cff;
  }
}