include ../components/demo-panel/demo-panel
doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
  body
    .wrapper
      +demo-panel({})
    .wrapper
      +demo-panel({
        orientation: 'vertical',
        start: '[-50, 50]',
        range: '[-100, 100]',
        step: '10',
        connect: 'false',
        tooltip: 'false',
        scale: 'false',
        })
    .wrapper
      +demo-panel({
        orientation: 'vertical',
        start: '[-500, 500]',
        range: '[-1000, 1000]',
        step: '100',
        connect: 'true',
        tooltip: 'true',
        scale: 'true',
        })