/* Variables */
/* Slider */
$slider_width: 6px;
$slider_background: #ffffff;
$slider_border_size: 1px;
$slider_border_color: rgba(31, 32, 65, 0.25);
$slider_border_radius: calc($slider_width / 2);
/* Pointer */
$pointer_size: 16px;
$pointer_background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
$pointer_border_size: 2px;
$pointer_border_color: #ffffff;
$pointer_border_radius: 50%;
/* Connect */
$connect_width: $slider_width;
$connect_background: $pointer_background;
/* Tooltip */
$tooltip_margin: 20px;
$tooltip_padding: 2px;
$tooltip_text_size: 10px;
$tooltip_background: $pointer_background;
$tooltip_color: #ffffff;
$tooltip_font: normal normal $tooltip_text_size/$tooltip_text_size Serif;
/* Scale */
$scale_size: $slider_width;
$scale_value_max_size: calc($scale_size * 5);
$scale_margin: 15px;
$scale_dash_color: black;
$scale_empty_dash_color: gray;
$scale_font: $tooltip_font;

.simple-range-slider {
  &__slider {
    position: relative;
    background: $slider_background;
    border: $slider_border_size solid $slider_border_color;
    border-radius: $slider_border_radius;
    box-sizing: border-box;

    &_horizontal {
      width: 100%;
      height: $slider_width;
      margin: $tooltip_margin 0 $slider_width 0;
    }

    &_vertical {
      width: $slider_width;
      height: 100%;
      margin: 0 $tooltip_margin 0 $slider_width;
    }

    &-container {
      display: flex;

      &_vertical {
        height: 100%;
        flex-direction: row;
      }

      &_horizontal {
        width: 100%;
        flex-direction: column;
      }
    }
  }

  &__pointer {
    position: absolute;
    z-index: 9;
    background: transparent;
    will-change: transform;

    &_horizontal {
      width: 1%;
      height: 100%;
    }

    &_vertical {
      width: 100%;
      height: 1%;
    }

    &:after {
      content: '';
      position: absolute;
      z-index: 10;
      background: $pointer_background;
      width: $pointer_size;
      height: $pointer_size;
      border: $pointer_border_size solid $pointer_border_color;
      border-radius: $pointer_border_radius;
      box-sizing: border-box;
      cursor: pointer;
      outline: none;
    }

    &_active {
      z-index: 10;

      &:after {
        z-index: 11;
      }
    }

    &_horizontal:after {
      transform: translate( -45%, -$slider_width);
    }

    &_vertical:after {
      transform: translate(-$slider_width, -45%);
    }
  }

  &__connect {
    position: absolute;
    z-index: 5;
    top: -$slider_border_size;
    left: -$slider_border_size;
    border-radius: $slider_border_radius;

    &_horizontal {
      background: $connect_background;
      height: $connect_width;
    }

    &_vertical {
      background: $connect_background;
      width: $connect_width;
    }
  }

  &__tooltip {
    position: absolute;
    z-index: 5;
    padding: $tooltip_padding;
    background: $tooltip_background;
    border-radius: calc( $slider_width / 2 );
    font: $tooltip_font;
    color: $tooltip_color;

    &_active {
      z-index: 6;
    }

    &_horizontal {
      transform: translateX(-50%);
      bottom: $tooltip_text_size;
    }

    &_vertical {
      transform: translateY(-50%);
      left: $tooltip_text_size;
    }
  }

  &__scale {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;

    &_horizontal {
      width: 99.5%;
      height: fit-content;

      & .simple-range-slider__scale-pip {
        flex-direction: column;
      }

      & .simple-range-slider__scale-pip-dash {
        height: $scale_size;
        width: 2px;
      }

      & .simple-range-slider__scale-pip-value {
        transform: translate(0%, 70%);
      }
    }

    &_vertical {
      height: 99.5%;
      width: fit-content;
      flex-direction: column;
      align-items: flex-end;

      & .simple-range-slider__scale-pip-dash {
        width: $scale_size;
        height: 2px;
      }

      & .simple-range-slider__scale-pip-value {
        position: absolute;
        right: 8px;
      }
    }

    &-pip {
      position: absolute;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: fit-content;
      height: fit-content;
      cursor: pointer;

      &-dash {
        background-color: $scale_dash_color;

        &_empty {
          cursor: default;
          background-color: $scale_empty_dash_color;
        }
      }

      &-value {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        position: absolute;
        max-width: $scale_value_max_size;
        display: inline-block;
        text-align: center;
        font: $scale_font;
      }
    }
  }
}