mixin text-input-block({name = 'control'})
  -
    const isControl = name === 'control'
    const isRange = name === 'range'
  .text-input-block
    h3.text-input-block__title #{name}
    input(type = 'text', class = 'text-input-block__input', name = `${name}-0`)
    if (isRange)
      input(type = 'text', class = 'text-input-block__input', name = `${name}-1`)
    if (isControl)
      label.text-input-block__label
        input(type='checkbox', class = 'text-input-block__checkbox')
        span.text-input-block__label-text show/hidden tooltip(s)
